:root {
/* Colors */
    --main-color: #CC71DC;
    --second-color: #D489E2;
    --shaded-color: #962AA9;
    --active-color: #BA41CF;
    --title-fontcolor: white;
    --main-fontcolor: #FAFDF9;

    /* Body */
    --margin-top-body: 0px;
    --margin-right-body: 0.3%;

    /* Navigation */
    --nav-height: 50px;
    --nav-width: 84%;
    --nav-a-width: 14vw;
    --nav-a-fontsize: 1.5vw;

    /* Home */
    --homeintroimg-width: 1700px;
}

/* Whole page layout */

html {
    width: 100%;
    height: 100%;
    background-size: 1200% 1200%;
    animation: rainbow 30s ease infinite;
}

body {
    margin-left: 0;
    margin-top: calc(var(--nav-height) + var(--margin-top-body));
    margin-right: calc(100% - var(--nav-width) + var(--margin-right-body));
}

/* Whole page text */

h1, h2, h3, h4, p, li, table, label, details {
    color: var(--main-fontcolor);
}

/* Navigation menu */

nav ul {
    position: fixed;
    list-style-type: none;
    background-color: var(--main-color);
    height: var(--nav-height);
    top: 0;
    left: 0;
    width: var(--nav-width);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: flex;
    background-color: var(--main-color);
    color: var(--title-fontcolor);
    text-decoration: none;
    width: var(--nav-a-width);
    height: var(--nav-height);
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--nav-a-fontsize));
}

nav a:hover {
    background: var(--shaded-color);
    width: calc(var(--nav-a-width) + 1vw);
}

nav a:active {
    background: var(--active-color);
}

.currentpage {
  background-color: var(--active-color);
}

/* side link menu */

aside ul {
    position: fixed;
    list-style-type: none;
    background-color: var(--second-color);
    height: 100%;
    width: calc(100% - var(--nav-width));
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside a {
    color: var(--title-fontcolor);
    text-decoration: none;
}

#hzimg {
    max-height: 2cqi;
    position: relative;
}

#hzimgback {
    background-color: var(--main-color);
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

#gnomed {
    max-height: 30px;
    position: absolute;
    right: 163px;
    top: 7px;
}

#hzimg:hover {
    animation: threedvertspin 3s;
}

/* Home */

#homeintroimg {
    background-image: url("images/spiralgalaxy.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: calc(var(--nav-width) + 17%);
    height: 375px;
    text-align: center;
}

.centeredtext {
    padding-top: 187.5px;
}

#gradientimgtopage {
    background: linear-gradient(0deg, #00000000, black);
    width: calc(var(--nav-width) + 17%);
    height: 50px;
}

/* Profile */

.profileimg {
    max-height: 110px;
}

/* FAQ */

#faqdetails a {
    text-decoration: none;
    color: var(--main-fontcolor);
}

/* Blog */

#blognav li {
    list-style-type: none;
}

#blognav a {
    color: var(--main-fontcolor);
}

#returntoblog a {
    color: var(--main-fontcolor);
}

/* Animations */

@keyframes threedvertspin {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
        transform: rotate3d(0, 1, 0, -360deg);
    }
}

@keyframes rainbow { 
    0% {
        background: #70DB92;
    }
    25% {
        background: #70C4A2;
    }
    50% {
        background: #87d88c;
    }
    75% {
        background: #70C4A2;
    }
    100% {
        background: #70DB92;
    }
}