:root {
/* Colors */
    --main-color: blue;
    --second-color: orange;
    --shaded-color: red;
    --active-color: black;
    --title-fontcolor: white;

    /* Navigation */
    --nav-atb: 16px;
    --nav-height: 50px;
    --nav-width: 84%;

    /* Aside menu */
    --aside-width: 16%
}

/* Whole page*/

body {
    margin: 6px;
    margin-top: calc(var(--nav-height) + 5px);
    margin-right: calc(var(--aside-width) + 1%);
}

/* Navigation menu */

nav ul {
    position: fixed;
    list-style-type: none;
    background-color: var(--main-color);
    height: var(--nav-height);
    top: 0;
    left: 0;
    width: var(--nav-width);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    background-color: var(--main-color);
    color: var(--title-fontcolor);
    text-decoration: none;
    padding: var(--nav-atb) 55px;
    transition: 0.5s;
}

nav a:hover {
    background: var(--shaded-color);
    padding: var(--nav-atb) 60px var(--nav-atb) 60px;
}

nav a:active {
    background: var(--active-color);
}

.currentpage {
  background-color: var(--active-color);
}

/* side link menu */

aside ul {
    position: fixed;
    list-style-type: none;
    background-color: var(--second-color);
    height: 100%;
    width: var(--aside-width);
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside a {
    color: var(--title-fontcolor);
    text-decoration: none;
}

#hzimg {
    max-height: 37px;
}

#hzimgback {
    background-color: var(--main-color);
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile */

.profileimg {
    max-height: 110px;
}
