:root {
    --main-color: blue;
    --shaded-color: red;
    --active-color: black;
    --title-fontcolor: white;
}

body {
    margin: 6px;
    margin-top: 55px;
}

/* Navigation menu */

nav ul {
    position: fixed;
    list-style-type: none;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    background-color: var(--main-color);
    color: var(--title-fontcolor);
    text-decoration: none;
    padding: 16px;
}

nav a:hover {
    background: var(--shaded-color);
}

nav a:active {
    background: var(--active-color);
}

nav img {
    max-height: 37px;
    position: absolute;
    right: 56px;
    margin-top: 6px;
}

.currentpage {
    background-color: var(--active-color);
}

/* side link menu */

aside ul {
    position: fixed;
    list-style-type: none;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    margin: 0;
    margin-top: 49px;
    padding: 0;
    overflow: hidden;
}

aside a {
    color: var(--title-fontcolor);
    text-decoration: none;
}